<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" (click)="navigate(tabList[0])">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let tab of tabList" class="nav-item" [ngClass]="{'active': tab.isActive}">
        <a class="nav-link" (click)="navigate(tab)" href="{{tab.route}}">{{tab.desc}}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline my-2 my-lg-0">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOGIN</button>
    </form>
  </div>
</nav>

<!--<ng-container [ngComponentOutlet]="selectedTab.component"></ng-container>-->
<router-outlet></router-outlet>
