<style>
    * {
      box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
      float: left;

      boder : inset;
      padding: 10px;
      height: 235px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>


  <div class="container">




<h3>All Mobile Brands in Sri  Lanka</h3>
  <div class="row">
    <div class="column" style=" margin: 25px;" *ngFor = "let brand of brands" (click)="onclickMobile(brand)" [routerLink]="['/brands', brand.brandName] " [state]="{ data: brand.models}">
      <img src="assets/images/{{brand.brandName}}.png" width="150px" height="150px">
      <h4>{{brand.brandName}} </h4>

    </div>

  </div>
  <div></div>


